table {
    border: 1px solid;
    border-collapse: collapse;
}
tr:nth-child(odd) {background: #CCC}
tr:nth-child(even) {background: #FFF}
th {
    font-weight: bold;
    padding: 3px 8px;
    border: 1px solid;
}
td {
    padding: 3px 8px;
    border: 1px solid;
}
.right {
    text-align: right;
}